<div class="product-container" *ngFor="let product of products; index as i" [class.product-container-sale]="product.isOnSale">
  <div class="name"><h4>{{product.name}}</h4></div>
  <div>
    <img class="image-container" [src]="'/assets/' + product.imageUrl" [alt]="product.name">
  </div>
  <div class="price" ><h3>$ {{product.price}}</h3></div>
  <button (click)="addToCart(i)">+</button>
  <select>
    <option [value]="ct" *ngFor="let ct of count">{{ct}}</option>
  </select>
  <div class="cart"><label>{{product.quantityInCart}} </label></div>
  <button (click)="removeFromCart(i)"
  *ngIf="product.quantityInCart > 0">-</button>  
</div>

